@page
@model WerkbonAppTest3.Pages.Klanten.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Klant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Klant.RekeningID" class="control-label"></label>
                <select asp-for="Klant.RekeningID" class ="form-control" asp-items="ViewBag.RekeningID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Klant.Naam" class="control-label"></label>
                <input asp-for="Klant.Naam" class="form-control" />
                <span asp-validation-for="Klant.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klant.Datum" class="control-label"></label>
                <input asp-for="Klant.Datum" class="form-control" />
                <span asp-validation-for="Klant.Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klant.Contactpersoon" class="control-label"></label>
                <input asp-for="Klant.Contactpersoon" class="form-control" />
                <span asp-validation-for="Klant.Contactpersoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
