@page
@model WerkbonAppTest3.Pages.Verhuiswagens.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Verhuiswagen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Verhuiswagen.Kenteken" class="control-label"></label>
                <input asp-for="Verhuiswagen.Kenteken" class="form-control" />
                <span asp-validation-for="Verhuiswagen.Kenteken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verhuiswagen.Volume" class="control-label">Volume in m³</label>
                <input asp-for="Verhuiswagen.Volume" class="form-control" />
                <span asp-validation-for="Verhuiswagen.Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verhuiswagen.Merknaam" class="control-label"></label>
                <input asp-for="Verhuiswagen.Merknaam" class="form-control" />
                <span asp-validation-for="Verhuiswagen.Merknaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
