@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";

}
Name: @HttpContext.Session.GetString(IndexModel.SessionKeyName)


<!DOCTYPE html>
<html>
<body>

    <div class="row">
        <div class="col-sm-4">
            Select your user :
            <select id="mySelect">
                @foreach (var item in Model.Personeel)
                {
                    <option value="@item.Username">

                        @Html.DisplayFor(modelItem => item.Username)

                    </option>
                }
            </select>
            <button type="button" onclick="myFunction()">Try it</button>
        </div>
    </div>

    <asp:TextBox ID="txtUserName" runat="server"></asp:TextBox>
    <asp:Button ID="btnSubmit" runat="server" Text="Go to Home Page" OnClick="btnSendData_Click" />

    <script>
        function myFunction() {
            var x = document.getElementById("mySelect").selectedIndex;
            alert(document.getElementsByTagName("option")[x].value);
        }
    </script>

</body>
</html>



