@page

@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<form>
    <fieldset>
        <legend>Selecting elements</legend>
        <p>
            <label>Select list</label>
            <select id="myList">

                @foreach (var item in Model.Personeel)
                {
                    <option value="@item.PersoneelID">

                        @Html.DisplayFor(modelItem => item.Username)


                    </option>

                }
            </select>
        </p>
    </fieldset>
</form>

<input id="Submit1" type="submit" value="Send" />