@page
@model IndexModel
@{
    ViewData["Title"] = "Werkbon overzicht";
}

<div class="text-center">
    <h1 class="display-4">Werkbon Overzicht</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-primary">#1 - Klant naam</div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">4-12-2019 9:00</h6>
                <p class="card-text">Contactpersoon: Rienk <br />Telefoon: 0681820930 <br /> Bedrag: € 800<p>
                <hr />
                    <a href="#" class="btn btn-outline-primary">Bijwerken</a>
                    <a href="#" class="btn btn-outline-primary">Verwijderen</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-primary">#1 - Klant naam</div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">4-12-2019 9:00</h6>
                <p class="card-text">Contactpersoon: Rienk <br />Telefoon: 0681820930 <br /> Bedrag: € 800<p>
                <hr />
                    <a href="#" class="btn btn-outline-primary">Bijwerken</a>
                    <a href="#" class="btn btn-outline-primary">Verwijderen</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-primary">#1 - Klant naam</div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">4-12-2019 9:00</h6>
                <p class="card-text">Contactpersoon: Rienk <br />Telefoon: 0681820930 <br /> Bedrag: € 800<p>
                <hr />
                    <a href="#" class="btn btn-outline-primary">Bijwerken</a>
                    <a href="#" class="btn btn-outline-primary">Verwijderen</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-white bg-primary">#1 - Klant naam</div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">4-12-2019 9:00</h6>
                <p class="card-text">Contactpersoon: Rienk <br />Telefoon: 0681820930 <br /> Bedrag: € 800<p>
                <hr />
                    <a href="#" class="btn btn-outline-primary">Bijwerken</a>
                    <a href="#" class="btn btn-outline-primary">Verwijderen</a>
            </div>
        </div>
    </div>

</div>

