@page
@model WerkbonAppTest3.Pages.WerkbonModel
@{
    ViewData["Title"] = "Werkbon";
}

<h1>Werkbon</h1>

<div class="row">
    <div class="column" style="background-color:blueviolet;">
        <h1>Dit is een test</h1>
        <input type="text" placeholder="Testofzo..." />
    </div>
    <div class="column" style="background-color:aqua;">
        <h1>Dit is geen test</h1>
        <select>
            <option value="Rienk">Rienk</option>
            <option value="Albert">Albert</option>
            <option value="Maverick">Maverick</option>
            <option value="Joost">Joost</option>
        </select>
    </div>
</div>
<div class="row">
    <div class=" column" style="background-color:forestgreen">
        <h1>Dit is een test voor de tweede rij</h1>
        <p>Bla to the blaaaaaaaaaaaaaaaa</p>
    </div>
    <div class=" column" style="background-color:orangered">
        <h1>Dit is een test voor de tweede rij maar dan ook de tweede kolom</h1>
        <p>Ik weet niks creatiefs meer.</p>
    </div>
</div>