@page
@model WerkbonApplicatie.Pages.Personeels.EditModel

@{
    ViewData["Title"] = "Edit";
}

    <h1>Personeel aanpassen</h1>

<h4>Personeel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Personeel.PersoneelID" />
            <div class="form-group">
                <label asp-for="Personeel.Pesoneel_VoorNaam" class="control-label"></label>
                <input asp-for="Personeel.Pesoneel_VoorNaam" class="form-control" />
                <span asp-validation-for="Personeel.Pesoneel_VoorNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personeel.Personeel_Achternaam" class="control-label"></label>
                <input asp-for="Personeel.Personeel_Achternaam" class="form-control" />
                <span asp-validation-for="Personeel.Personeel_Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit"class="btn green mr-2" value="Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"class="btn green mr-2">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
